<ul>
<?php for($i=0;$i<sizeof($products);$i++){?>
    <li>
        <h1><?php echo $products[$i]['products']['title']; ?></h1>
        <h6>Price: <?php echo $products[$i]['products']['price']; ?></h6>
        <p><?php echo $products[$i]['products']['description']; ?></p>
        <a href="<?php echo $this->webroot.'Products/edit/'.$products[$i]['products']['id'];?>">EDIT</a>
    </li>
<?php  }?>
</ul>